p {
    font-size: 14px;
    color: black;
    
}

h2{
    font-size: 40px;
    color: black;
    justify-content: center;
    
}

li{
    padding: 10px;
}

.img-fluid{
      
    width: 75%;
    height: auto;        
}


.icon>svg{
    fill: black;
    height: 16px;
    width: auto;
    
}

.icon_2>svg{
    fill: black;
    height: 20px;
    width: auto;
}

a{
    text-decoration: none;
    
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-secondary {
    background: linear-gradient(135deg, rgb(57, 53, 53), rgb(199, 193, 193));
}

footer{
    height: 85px;
    font-size: 14px;
}

nav{
    height: 50px;
}
.navbar-brand {
    margin-left: 20px;
}

main{
    min-height: 80vh;
    align-items: center;
}

@media screen and (max-width: 600px) {
    nav {
        height: 55px;
    }
    
    .img-fluid {
        width: 90%;
        padding: 0;
        margin: 0;
        
    }
    
    
    
    .dropdown-menu    
     {
        background-color: white ;
    }

    .navbar-nav {
        background-color: white !important;
        margin-top: 5px;
                
    }    

    .navbar-brand {
        padding-left: 10px;
    }
    
    .dropdown-item:hover {
        color: blue;
    }
    
}