p {
    font-size: 14px;
    color: black;
    
}

h2{
    font-size: 40px;
    color: black;
    justify-content: center;
    
}

li{
    padding: 10px;
}

.img-fluid{
      
    width: 75%;
    height: auto;
    opacity: 60%;
    
}


.icon>svg{
    fill: black;
    height: 16px;
    width: auto;
    
}

.icon_2>svg{
    fill: black;
    height: 20px;
    width: auto;
}

a{
    text-decoration: none;
    color: black;
}

body{
    height: 100vh;
}

.bg-secondary {
    background: linear-gradient(135deg, rgb(57, 53, 53), rgb(199, 193, 193));
}

footer{
    height: 85px;
    font-size: 14px;
}

nav{
    height: 50px;
}

main{
    min-height: 80vh;
}

@media screen and (max-width: 600px) {
    nav {
        height: 55px;
    }

    .img-fluid {
        width: 40%;
    }

    
}