
h4{
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    color: black;
}



img {
    width: 40%;
    height: auto;
    
}

p{
    font-size: 16px;
    color: black;  
    
}

li{
    padding: 10px;
}

.footer{
    height: 85px;
    
    font-size: 14px;
}

.icon>svg{
    fill: black;
    height: 16px;
    width: auto;
   
    justify-content: center;
    align-items: center;
    
}

.icon_2>svg{
    fill: black;
    height: 20px;
    width: auto;
    align-items: center;
}

a {
    text-decoration: none;
}
    


body {
    height: 100vh;
    background-color: black;
}

nav{
    height: 50px;
    z-index: 1000;
}

.navbar-brand {
    margin-left: 20px;
}

.bg-secondary {
    background: linear-gradient(135deg, rgb(57, 53, 53), rgb(199, 193, 193));
}

main{
    min-height: 80vh;
    align-items: center;
}

@media screen and (max-width: 600px) {
    img {
        width: 70%;
        height: auto;
    }

    nav{
        height: 55px;
        padding: 10px;
    }
    .dropdown-menu    
     {
        background-color: white ;
    }

    .navbar-nav {
        background-color: white !important;
    
    }
    .navbar-brand {
        padding-left: 10px;
    }
    .dropdown-item:hover {
        color: blue;
    }
}