h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    padding: 20px 20px 20px 0;
}


.img-fluid{
     
    width: 70%;
    height: auto;
    transition: transform 2s ease;
    transform-style: preserve-3d;
    animation: spin 2s linear forwards;
}

@keyframes spin {
    from { 
        transform: rotate3d(1,1,0,0deg) scale3d(0.5,0.5,0.5);
    }
    to {
        transform: rotate3d(1,0,1,30deg) scale3d(0.7,0.7,0.7);
    }
}

.tekst {
    opacity: 0;
    transition: opacity 0,6s ease-in-out;
    animation: slideIn 1s forwards;
    animation-delay: 2s;
}

@keyframes slideIn{
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    background: linear-gradient(120deg, transparent, black, transparent);
    border: none;
}
p{
    font-size: 16px;
    color: black;
    margin: 10px;
    padding-bottom: 10px;
}

nav{
    
    height: 50px;
}



li{
    padding: 10px;
}


.nav-link:hover{
    color: blue;
}
.nav-link.active:hover {
    color: blue;
}

.bg-secondary {
    background: linear-gradient(135deg, rgb(57, 53, 53), rgb(199, 193, 193));
}

.footer{
    height: 85px;
    color: black;
    font-size: 14px;
}

.icon>svg{
    fill: black;
    height: 16px;
    width: auto;
   
    justify-content: center;
    align-items: center;
    
}

.icon_2>svg{
    fill: black;
    height: 20px;
    width: auto;
}

a {
    text-decoration: none;
}
    


main{
    min-height: 80vh;
}

body {
    max-height: 100vh;
}

@media  screen and (max-width: 600px) {
    .img-fluid {
        margin: 20px 0;
        width: 50%;
        height: auto;
        z-index: 1;
    }

    .tekst {
        margin: 20px 0;
    }

    nav {
        height: 55px;
        z-index: 10;
    }
    
    .dropdown-menu    
     {
        background-color: white ;
    }

    .navbar-nav {
        background-color: white !important;
        margin-top: 5px;
        
        
    }

    .navbar-brand {
        padding-left: 10px;
    }
    
    .dropdown-item:hover {
        color: blue;
    }
    
}