h2{
    font-size: 45px;
    padding: 20px;
}


.img-fluid{
    border: solid 2px black;  
    width: 70%;
    height: auto;
}

img:hover{
    opacity: 70%;
}


p{
    font-size: 16px;
    color: black;
    margin: 10px;
}

nav{
    
    height: 50px;
}

li{
    padding: 10px;
}


.nav-link:hover{
    color: lightblue;
}
.nav-link.active:hover {
    color: lightblue;
}

.bg-secondary {
    background: linear-gradient(135deg, rgb(57, 53, 53), rgb(199, 193, 193));
}

.footer{
    height: 85px;
    color: black;
    font-size: 14px;
}

.icon>svg{
    fill: black;
    height: 16px;
    width: auto;
   
    justify-content: center;
    align-items: center;
    
}

.icon_2>svg{
    fill: black;
    height: 20px;
    width: auto;
}

a {
    text-decoration: none;
}
    


main{
    min-height: 80vh;
}

body {
    max-height: 100vh;
}

@media  screen and (max-width: 600px) {
    .img-fluid {
        width: 40%;
        height: auto;
    }

    nav {
        height: 55px;
    }

    
}